{{ 'section-main-blog.css' | asset_url | stylesheet_tag }}
{{ 'component-facets.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{%- paginate blog.articles by 6 -%}
  <div class="main-blog page-width section-{{ section.id }}-padding">
    {%- if blog.all_tags.size > 0 -%}
      {%- assign active_tag_count = current_tags | size | default: 0 -%}
      <div class="blog-filter facets__wrapper">
        <details
          id="Details-BlogCategory-{{ section.id }}"
          class="disclosure-has-popup facets__disclosure js-filter"
        >
          <summary class="facets__summary caption-large focus-offset">
            <div>
              <span class="facets__summary-label">Category</span>
              {{- 'icon-caret.svg' | inline_asset_content -}}
            </div>
          </summary>
          <div class="facets__display">
            <div class="facets__header">
              <span class="facets__selected">
                {%- if current_tags -%}
                  {{ current_tags | join: ', ' }}
                {%- else -%}
                  All
                {%- endif -%}
              </span>
            </div>
            <ul class="facets-layout facets-layout-list facets-layout-list--text facets__list list-unstyled" role="list">
              <li class="list-menu__item facets__item">
                <a href="{{ blog.url }}" class="facets__label facet-checkbox{% unless current_tags %} active{% endunless %}">
                  {{- 'square.svg' | inline_asset_content -}}
                  <div class="svg-wrapper"{% unless current_tags %} style="visibility: visible"{% endunless %}>
                    {{- 'icon-checkmark.svg' | inline_asset_content -}}
                  </div>
                  <span class="facet-checkbox__text">
                    <span class="facet-checkbox__text-label">All</span>
                  </span>
                </a>
              </li>
              {%- for tag in blog.all_tags -%}
                <li class="list-menu__item facets__item">
                  <a href="{{ blog.url }}/tagged/{{ tag | handleize }}" class="facets__label facet-checkbox{% if current_tags contains tag %} active{% endif %}">
                    {{- 'square.svg' | inline_asset_content -}}
                    <div class="svg-wrapper"{% if current_tags contains tag %} style="visibility: visible"{% endif %}>
                      {{- 'icon-checkmark.svg' | inline_asset_content -}}
                    </div>
                    <span class="facet-checkbox__text">
                      <span class="facet-checkbox__text-label">{{ tag }}</span>
                    </span>
                  </a>
                </li>
              {%- endfor -%}
            </ul>
          </div>
        </details>
      </div>
    {%- endif -%}

    <div class="blog-articles">
      {%- for article in blog.articles -%}
        <div class="blog-article-row">
          <span class="blog-article-date">
            {%- assign d = article.published_at | date: '%m%d%Y' -%}
            {{ d }}
          </span>
          <a href="{{ article.url }}" class="blog-article-media">
            {%- if article.image -%}
              <div class="blog-article-thumb">
                <img
                  srcset="
                    {%- if article.image.src.width >= 360 -%}{{ article.image.src | image_url: width: 360 }} 360w,{%- endif -%}
                    {%- if article.image.src.width >= 533 -%}{{ article.image.src | image_url: width: 533 }} 533w,{%- endif -%}
                    {%- if article.image.src.width >= 720 -%}{{ article.image.src | image_url: width: 720 }} 720w,{%- endif -%}
                    {%- if article.image.src.width >= 1000 -%}{{ article.image.src | image_url: width: 1000 }} 1000w,{%- endif -%}
                    {{ article.image.src | image_url }} {{ article.image.src.width }}w
                  "
                  src="{{ article.image.src | image_url: width: 720 }}"
                  sizes="(min-width: 750px) 600px, 80vw"
                  alt="{{ article.image.src.alt | escape }}"
                  loading="lazy"
                  width="{{ article.image.width }}"
                  height="{{ article.image.height }}"
                >
              </div>
            {%- endif -%}
            <div class="blog-article-description">
              <p>
                {%- if article.excerpt.size > 0 -%}
                  {{ article.excerpt | strip_html }}
                {%- else -%}
                  {{ article.content | strip_html | truncatewords: 50 }}
                {%- endif -%}
              </p>
            </div>
          </a>
        </div>
      {%- endfor -%}
    </div>

    {%- if paginate.pages > 1 -%}
      {%- render 'pagination', paginate: paginate -%}
    {%- endif -%}
  </div>
{%- endpaginate -%}

{% schema %}
{
  "name": "t:sections.main-blog.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
